* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #161616;
  line-height: 1.6;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #161616;
  color: #ddd;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

header nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #161616;
  transition: width 0.3s ease-in-out;
}

header nav ul li a:hover::before {
  width: 100%;
}

main {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

main h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

footer {
  background-color: #161616;
  color: #ddd;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #161616;
  color: #ddd;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #303030;
}

address {
  margin-top: 20px;
  font-style: normal;
}

a {
  color: #161616;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
